<%= form_for(@location_description) do |f| %>
  <% if @location_description.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location_description.errors.count, "error") %> prohibited this location_description from being saved:</h2>

      <ul>
      <% @location_description.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :location_id %><br />
    <%= f.text_field :location_id %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
