<h1>Listing location_descriptions</h1>

<table>
  <tr>
    <th>Location</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @location_descriptions.each do |location_description| %>
  <tr>
    <td><%= location_description.location_id %></td>
    <td><%= location_description.description %></td>
    <td><%= link_to 'Show', location_description %></td>
    <td><%= link_to 'Edit', edit_location_description_path(location_description) %></td>
    <td><%= link_to 'Destroy', location_description, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Location description', new_location_description_path %>
