<h1>Listing user_rights</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_rights.each do |user_right| %>
  <tr>
    <td><%= user_right.name %></td>
    <td><%= user_right.description %></td>
    <td><%= link_to 'Show', user_right %></td>
    <td><%= link_to 'Edit', edit_user_right_path(user_right) %></td>
    <td><%= link_to 'Destroy', user_right, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User right', new_user_right_path %>
