<script type="text/javascript">
    jQuery(document).ready(function($){
        $("#new_user").validate();
    });
</script>

<div class="ryr_form">

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, :size => 40, :class => "required", :minlength => "2" %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :size => 40, :class => "required", :minlength => "2" %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email, :size => 60, :class => "required email" %>
  </div>
  <div class="field">
    <%= f.label :password, 'Password:' %><br />
    <%= f.password_field :password, :class => "required", :minlength => "6" %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, 'Confirm:' %><br />
    <%= f.password_field :password_confirmation, :class => "required", :minlength => "6", :equalto => "#user_password" %>
  </div>
<% if current_user and current_user.is_admin? -%>
  <% roles = Role.all %>
  <div class="field">
    <%= f.label :role, 'Role:' %><br />
    <%= f.collection_select :role_id, roles, :id, :name, :prompt => true %>
  </div>
<% end -%>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

</div>
