
<% if @location -%>
<h1>Listing dishes for <%= @location.name -%></h1>
<% else -%>
<h1>Listing all dishes for all pubs</h1>
<p>(hint: <%= link_to 'you might want to select which pub you are interested in', locations_path -%></p>
<% end -%>

<table>
  <tr>
<% unless @location -%>
    <th>Pub Name</th>
<% end -%>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dishes.each do |dish| %>
  <tr>
<%   unless @location -%>
    <td><%= dish.location.name %></td>
<%   end -%>
    <td><%= dish.name %></td>
    <td><%= link_to 'Reviews', reviews_path(:dish_id => dish) %></td>
    <td><%= link_to 'Show', dish %></td>
    <td><%= link_to 'Edit', edit_dish_path(dish) %></td>
    <td><%= link_to 'Destroy', dish, :confirm => 'Are you sure?', :method => :delete %></td>
    <td><%= button_to 'Set as my current dish', user_dishes_path(:user_dish => dish) %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dish', new_dish_path(:location_id => @location) %>
