
<% if @dishes_location -%>
<h1>Listing dishes for <%= @dishes_location.name -%></h1>
<% else -%>
<h1>Listing all dishes for all pubs</h1>
<p>(hint: <%= link_to 'you might want to select which pub you are interested in', locations_path -%></p>
<% end -%>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dishes.each do |dish| %>
  <tr>
    <td><%= dish.location.name %></td>
    <td><%= dish.name %></td>
    <td><%= link_to 'Show', dish %></td>
    <td><%= link_to 'Edit', edit_dish_path(dish) %></td>
    <td><%= link_to 'Destroy', dish, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dish', new_dish_path %>
