
<% if @location -%>
<h1>Food at <%= @location.name -%>, that we know about</h1>
<p>
If the roast that you are eating is not listed, please <%= link_to 'feel free to add it', new_dish_path -%>
<% unless current_user -%> (you'll need to <%= link_to 'register' -%> first though)<% end -%>.
<% elsif current_city -%>
<h1>Food in <%= current_city.name -%></h1>
<p>(hint: <%= link_to 'you might want to select which pub you are interested in', locations_path -%></p>
<% else-%>
<h1>Listing all food</h1>
<p>Blimey! That's a lot of pubs and roasts!<p>
<p>(hint: <%= link_to 'you might want to select which town/city you are interested in', cities_path -%></p>
<% end -%>

<table>
  <tr>
<% unless @location -%>
    <th>Pub Name</th>
<% end -%>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dishes.each do |dish| %>
  <tr>
<%   unless @location -%>
    <td><%= dish.location.name %></td>
<%   end -%>
    <td><%= dish.name %></td>
    <td><%= link_to 'Reviews', reviews_path(:dish_id => dish) %></td>
    <td><%= link_to 'Show', dish %></td>
    <td><%= link_to 'Edit', edit_dish_path(dish) %></td>
    <td><%= link_to 'Destroy', dish, :confirm => 'Are you sure?', :method => :delete %></td>
    <td><%= button_to 'Set as my current dish', user_dishes_path(:user_dish => dish) %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dish', new_dish_path(:location_id => @location) %>
