<h1>Status#index</h1>
<p>Find me in app/views/status/index.html.erb</p>

<p>
<%= session.inspect %>
</p>

<p>
<%= current_user.inspect %>
</p>

<p>
<%= current_city.inspect %>
</p>

<p>
<%= current_location.inspect %>
</p>

<p>
<%= current_dish.inspect %>
</p>
