<% if @dish -%>
<h1>Listing reviews for <%= @dish.name -%> at <%= @dish.location.name -%></h1>
<% else -%>
<h1>Listing all reviews for all pubs</h1>
<p>(hint: <%= link_to 'you might want to select which pub and dish you are interested in', locations_path -%></p>
<% end -%>

<table>
  <tr>
    <th>User</th>
    <th>Review text</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reviews.each do |review| %>
  <tr>
    <td><%= link_to "#{review.user.name}", user_path(review.user) -%></td>
    <td><%= sanitize review.review_body %></td>
    <td><%= link_to 'Show', review %></td>
<% if current_user and ( current_user.is_review_moderator? or current_user == review.user ) -%>
    <td><%= link_to 'Edit', edit_review_path(review) %></td>
<% end -%>
<% if current_user and current_user.is_review_moderator? -%>
    <td><%= link_to 'Destroy', review, :confirm => 'Are you sure?', :method => :delete %></td>
<% end -%>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Review', new_review_path(:dish_id => @dish) %>
