<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @review.user_id %>
</p>

<p>
  <b>Dish:</b>
  <%= @review.dish_id %>
</p>

<p>
  <b>Review:</b>
  <%= sanitize @review.review_body, :tags => %w(p strong em h3 h4 ul li) %>
</p>


<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
