<h1>Listing locations</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address1</th>
    <th>Address2</th>
    <th>Address3</th>
    <th>Postcode</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @locations.each do |location| %>
  <tr>
    <td><%= location.name %></td>
    <td><%= location.address1 %></td>
    <td><%= location.address2 %></td>
    <td><%= location.address3 %></td>
    <td><%= location.postcode %></td>
    <td><%= link_to 'Show', location %></td>
    <td><%= link_to 'Edit', edit_location_path(location) %></td>
    <td><%= link_to 'Destroy', location, :confirm => 'Are you sure?', :method => :delete %></td>
    <td><%= button_to 'Set as my current location', user_locations_path(:user_location => location) %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Location', new_location_path %>
