<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @location.user_id %>
</p>

<p>
  <b>Name:</b>
  <%= @location.name %>
</p>

<p>
  <b>Address1:</b>
  <%= @location.address1 %>
</p>

<p>
  <b>Address2:</b>
  <%= @location.address2 %>
</p>

<p>
  <b>Address3:</b>
  <%= @location.address3 %>
</p>

<p>
  <b>Postcode:</b>
  <%= @location.postcode %>
</p>

<p>
  <b>Description:</b>
  <%= sanitize @location.current_description, :tags => %w(p strong em h3 h4 ul li) %>
</p>


<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
